
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.allContents{
    background-repeat: no-repeat;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(230, 22, 126), rgb(61, 121, 211));
}
.headingDiv{
    text-align: center;
    padding-top: 2rem;
}
.heading{
    font-size: max(2.5rem, 5%);
    color: rgb(226, 219, 219);
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}
.ayahDiv{
    text-align: center;
    margin-top: max(3rem, 5%);
    margin-left: max(1rem, 5%);
    margin-right: max(1rem, 5%);
}
.arabicLang, .otherLang{
    color: black;
    font-weight: lighter;
}
.arabicLang{
    color: black;
    font-size: 2.2rem;
    font-weight: lighter;
}
.otherLang{
    font-size: 1.5rem;
    margin-top: 0.8rem;
}
.divNavigate{
    text-align: center;
    margin-top: max(0.3rem, 0.5%);
}
.randomVerseBTN, .playMusicBTN{
    background-color: rgb(227, 235, 234);
    padding-right: 1rem;
    padding-left: 1rem;
}
.languageSelector{
    background-color: rgb(227, 235, 234);
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    border: none;
}

.randomVerseBTN, .playMusicBTN, .languageSelector{
    margin-right: max(0.5rem, 1%);
    margin-left: max(0.5rem, 1%);
    border-radius: 16px;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    margin-top: 1rem;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.randomVerseBTN:hover, .playMusicBTN:hover, .languageSelector:hover{
    background-color: rgb(216, 226, 225);
}
.playMusicBTN:active, .randomVerseBTN:active{
    transform: scale(1.03);

}
.footer{
    position:static;
    margin-top: -3rem;
    margin-bottom: -1rem;
    text-align: center;
}

a{
    color: black;
}
.ayahInfo{
    text-align: center;
    margin-top: -0.5rem;
}
.suraInfo{
    font-size: 1rem;
    font-weight: 100;
}
.share_download{
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 4rem;
}
.shareBTN_F, .shareBTN_T, .shareBTN_D{
    padding: 0.8rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    color: rgb(227, 235, 234);
    cursor: pointer;
}
.shareBTN_F:hover, .shareBTN_F:active{
    color: #4267B2;
}
.shareBTN_T:hover, .shareBTN_T:active{
    color: #00acee;
}
.shareBTN_D:hover, .shareBTN_D:active{
    color: rgb(86, 86, 90);
}
.shareBTN_F:active, .shareBTN_T:active, .shareBTN_D:active{
    transform: scale(1.1);
}
.linkShareTag{
    text-decoration: none!important;
}
